* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #22294a;
  /* font-size: 1.5vh; */
}

/* NavBar Styling */
.navbar-toggler-icon {
  color: white;
}

/*Landing Page Styling  */

.landingHead {
  font-size: 1.5em;
  color: white;
}
.landingText {
  font-size: 0.75em;
  color: white;
}

#nameLandingPage {
  color: #00c7fd;
  background: none;
  padding: 0;
}
.logo {
  width: 12vh;
  height: 12vh;
}

@media only screen and (max-width: 1200px) {
  .aboutImages {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 600px) {
  #nameLandingPage {
    font-size: 1em;
  }
  * {
    font-size: 2vh;
  }
  #logo {
    width: 136px;
    height: 144px;
  }
  .landingHead {
    font-size: 2em;
    color: white;
  }
  .landingText {
    font-size: 0.75em;
    color: white;
  }
}

@media only screen and (min-width: 768px) {
  #nameLandingPage {
    font-size: 1em;
  }
  * {
    font-size: 1.2vh;
  }
  .landingHead {
    font-size: 2em;
    color: white;
  }
  .landingText {
    font-size: 0.75em;
    color: white;
  }
}

@media only screen and (min-width: 992px) {
  #logo {
    width: 170px;
    height: 180px;
  }
  .landingHead {
    font-size: 2.5em;
    color: white;
  }
  .landingText {
    font-size: 1em;
    color: white;
  }
}

@media (min-width: 1200px) {
  .aboutRightListInner {
    margin-left: 20px;
  }
}

/* About Page Styling */
#aboutLeftHead {
  color: #22294a;
}
#aboutLeftBody {
  font-size: 1.5em;
}

.aboutRightList {
}
/* .aboutImages {
  width: 10vh;
} */
.aboutRightListInner {
  /* margin-left: 20px; */
}
.aboutRightListInnerP {
  font-size: 1.5em;
}

/* Project Page Styling */
#projects {
  background-color: #e5e5e5;
}

.aboutImages {
  height: 8vh;
  width: 8vh;
}

/* Resume Styling */

.ResumeUnderline {
  width: 10%;
  background-color: #00c7fd;
  margin-top: 0;
  border-width: 0.3vh;
}
