* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NavBar Styling */
.navbar-toggler-icon {
  color: white;
}

/*Landing Page Styling  */

.landingHead {
  font-size: 1.5em;
  color: white;
}
.landingText {
  font-size: 0.75em;
  color: white;
}

#nameLandingPage {
  color: #00c7fd;
  background: none;
  padding: 0;
}
#logo {
  width: 111px;
  height: 117px;
}

@media only screen and (min-width: 600px) {
  #logo {
    width: 136px;
    height: 144px;
  }
  .landingHead {
    font-size: 2em;
    color: white;
  }
  .landingText {
    font-size: 0.75em;
    color: white;
  }
}

@media only screen and (min-width: 768px) {
  .landingHead {
    font-size: 2em;
    color: white;
  }
  .landingText {
    font-size: 0.75em;
    color: white;
  }
}

@media only screen and (min-width: 992px) {
  #logo {
    width: 170px;
    height: 180px;
  }
  .landingHead {
    font-size: 2.5em;
    color: white;
  }
  .landingText {
    font-size: 1em;
    color: white;
  }
}

@media (min-width: 1200px) {
  .aboutRightListInner {
    margin-left: 20px;
  }
}

/* About Page Styling */
#aboutLeftHead {
  color: #22294a;
}
#aboutLeftBody {
  font-size: 1.5em;
}

.aboutRightList {
}
.aboutRightListInner {
  /* margin-left: 20px; */
}
.aboutRightListInnerP {
  font-size: 1.5em;
}
